@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
    z-index: 1;
    position: fixed;
    background-color: #ffffff;
}

/*======= navbar ========*/

nav {
    display: flex;
    width: 90vw;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    height: 80px;
}

nav .link a:not(:last-child){
    margin-right: 30px;
}

nav .link a {
    font-size: 20px;
    color: #000;
    font-weight: 300;
}

nav .link a:hover {
    color: rgb(0, 47, 255);
}

nav .link a:active {
    color: rgb(0, 13, 88);
}

nav .logo {
    color: #000f92;
    font-size: 30px;
    font-weight: 410;
}

.login button {
    border: none;
    padding: 8px 14px;
    margin-right: 14px;
    cursor: pointer;
    background-color: transparent;
}

.login .signin {
    background-color: #000;
    color: #fff;
    border-radius: 4px;
    margin-right: 14px;
}

/*======= ช่องค้นหา ========*/


.container-search {
    width: 90vw;
    margin: 0 auto;
    position: relative;
    top: 15vh;
}

.search {
    width: 90vw;
    padding: 8px 10px;
    outline: none;
    border-bottom-style: solid;
    border-left-style: none ;
    border-right-style: none ;
    border-top-style: none;
    transition: 0.5s;
    font-size: 16px;
}

.search:hover {
    height: 9vh;
}

.bx-search{
    font-size: 16px;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 15px;
    left: 88.5vw;
    width: 25vw;
}

/*======= เริ่มหน้าหลัก ========*/

.container {
    position: relative;
    top: 16vh;
    width: 90vw;
    margin: 0 auto;
    display: flex;
}

.product {
    width: 30%;
}

.product-right {
    width: 40%;
}

.sidebar {
    width: 30%;
}

/*======= เเทบเมนูขวา ========*/

.sidebar h3 {
    font-size: 30px;
    color: #000000;
    font-weight: 410;
    padding: 10px 10px;
    transition: 0.5s;
}

.sidebar h3:hover {
    font-size: 32px;
}

/*======= content ซ้ายมือ ========*/


.blog-item-1 {
    margin: 0 10px;
    background-color: transparent;
    display: flex;
}

.blog-item-1 img {
    width: 150px;
    height: auto;
    border-radius: 8px;
}

.blog-item-2 {
    margin: 10px 10px;
    background-color: transparent;
    display: flex;
}

.blog-item-2 img {
    width: 150px;
    height: auto;
    border-radius: 8px;
}

.blog-item-1 p {
    margin: 10px;
    font-size: 16px;
    font-weight: 350;
}

.blog-item-2 p {
    margin: 10px;
    font-size: 16px;
    font-weight: 350;
}

.sidebar img {
    object-fit: cover;
}

.product h1 {
    font-size: 35px;
    padding: 10px 20px;
    font-weight: 410;
    transition: 0.5s;
}

.product h1:hover {
    font-size: 40px;
}

.product img {
    width: 330px;
    height: auto;
    border-radius: 8px;
    margin-left: 20px;
}

.product h3 {
    font-weight: 410;
    margin: 0 20px;
    font-size: 1.3rem;
}

.product .text-ex {
    margin: 0 20px;
    color: #868686;
}

.product .text-design {
    margin: 0 20px;
}

.blog-item1 {
    display: flex;
    margin-top: 75px;
    margin-bottom: 20px;
}

.blog-item2 {
    display: flex;
    margin-bottom: 20px;
}

.blog-item3 {
    display: flex;
}

.product-right img {
    width: 200px;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
}

.product-right p {
    margin: 2px 10px;
    text-align: justify;
    font-size: 16px;
    font-weight: 500;
}

.product-right h5 {
    margin: 0 10px;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

.product-right h6 {
    margin: 0 10px;
    font-size: 16px;
    font-weight: 400;
    color: #868686;
}

.number-sidebar h1 {
    display: flex;
    background-color: #000;
    padding: 1rem 2rem;
    color: #fff;
    align-items: center;
    border-radius: 50%;
}

.number-sidebar h1:hover {
    background-color: #000957;
}

.sidebar-item-1 {
    display: flex;
}

.info-sidebar-1 {
    margin: 0 10px;
}

.info-sidebar-1 p {
    font-size: 1.1rem;
    font-weight: 500;
}

.info-sidebar-1 h5 {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

.info-sidebar-1 h6 {
    font-size: 16px;
    font-weight: 400;
    color: #868686;
}

hr {
    margin-top: 1rem;
}

.sidebar-item-2 {
    display: flex;
    margin-top: 1rem;
}

.info-sidebar-2 {
    margin: 0 10px;
}

.info-sidebar-2 p {
    font-size: 1.1rem;
    font-weight: 500;
}

.info-sidebar-2 h5 {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

.info-sidebar-2 h6 {
    font-size: 16px;
    font-weight: 400;
    color: #868686;
}

.sidebar-item-3 {
    display: flex;
    margin-top: 1rem;
}

.info-sidebar-3 {
    margin: 0 10px;
}

.info-sidebar-3 p {
    font-size: 1.1rem;
    font-weight: 500;
}

.info-sidebar-3 h5 {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

.info-sidebar-3 h6 {
    font-size: 16px;
    font-weight: 400;
    color: #868686;
}

.home-page {
    width: 90vw;
    margin-top: 10vw;
    margin-left: auto;
    margin-right: auto;
}

.con-topic h1 {
    font-size: 35px;
    padding: 10px 20px;
    font-weight: 410;
    transition: 0.5s;
}

.con-topic h1:hover {
    font-size: 40px;
}

.grid-con {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.grid-topic {
    padding: 0 25px;
}

.grid-topic img {
    width: 350px;
    height: auto;
    border-radius: 8px;
}

.grid-topic img:hover {
    position: relative;
    bottom: 8px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}

.grid-con-line2 {
    margin-top: 5vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.btn-topic {
    border: 1px solid #000;
    margin-right: 0.5vw;
    border-radius: 20px;
    padding: 8px 10px;
}

.date-topic {
    font-size: 16px;
    font-weight: 400;
    color: #868686;
    margin-bottom: 3vh;
}

/* footer */

footer {
    margin-top: 10vh;
}

.footer-con {
    width: 100%;
    padding: 50px 0;
    background-color: #000957;
}

.footer-con p {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

.product-right img:hover {
    width: 190px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);

}

.product img:hover {
    width: 315px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);

}

/*========================= page create blog ==============================*/

.blog-create {
    width: 90vw;
    height: 60vh;
    margin: 0 auto;
    display: flex;
    position: relative;
    top: 16vh;
}

.con-create {
    width: 45%;
}

.con-create h1 {
    font-size: 35px;
    padding: 10px 20px;
    font-weight: 410;
    margin-bottom: 8rem;
    transition: 0.5s;
}

.con-create h1:hover {
    font-size: 40px;
}

.input-img input {
    display: none;
}

.input-img label {
    margin: 0 25px;
    border-radius: 6px;
    border: 3px dashed #000;
    padding: 8rem 11rem;
    transition: 0.5s;
}

.input-img label:hover {
    color: #001aff;
    border: 3px dashed #001aff;
    padding: 8.5rem 11.5rem;
}

.input-img label:active {
    color: #0011a8;
    border: 3px dashed #0011a8;

}

.input-con {
    width: 63%;
}

.item--1 {
    font-size: 16px;
    margin-left: 20px;
    margin-top: 70px;
    margin-bottom: 20px;
    width: 90%;
    outline: none;
    border-radius: 6px;
    border: 1px solid #000;
    padding: 10px 20px;
}

.item--2 {
    font-size: 16px;
    margin-left: 20px;
    width: 90%;
    outline: none;
    border-radius: 6px;
    border: 1px solid #000;
    padding: 10px 20px;
}

.item--3 {
    font-size: 16px;
    margin-top: 20px;
    margin-left: 20px;
    width: 90%;
    height: 150px;
    outline: none;
    border-radius: 6px;
    border: 1px solid #000;
    padding: 10px 20px;
}

.con-btn-create {
    display: flex;
    width: 90vw;
    margin-top: 17.5vh;
}

.con-btn-create button {
    padding: 20px 40px;
    margin-left: 75vw;
    border: 1px solid #000;
    border-radius: 30px;
}

.con-btn-create button p {
    font-size: 16px;
}

.con-btn-create button:hover {
    background-color: #001277;
    color: #fff;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}

.con-btn-create button:active {
    background-color: #050049;
}

.topic-right {
    width: 70%;
    display: flex;
}


.topic-right h1 {
    font-size: 35px;
    margin: 0 20px;
}

.topic-right-info {
    width: 75%;
    margin-top: 20px;
}

.topic-right-info img {
    margin-top: 1rem;
    margin-left: 3rem;
    width: 550px;
    height: 270px;
    object-fit: cover;
    border-radius: 10px;
}

.topic-right-info img:hover {
    margin-top: 1rem;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}

.topic-right-info h5 {
    color: #868686;
    font-size: 16px;
    font-weight: 400;
}

.topic-blog {
    width: 90vw;
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
}

.con-1 {
    margin: 0 1rem;
}

.topic-blog h1 {
    font-size: 35px;
    margin-bottom: 20px;
    transition: 0.5s;
}

.topic-blog h1:hover {
    font-size: 40px;
}

.container-profile {
    display: flex;
}

.con-profile {
    display: flex;
    align-items: center;
    background-color: #cccccc;
    padding: 8px 20px;
    border-radius: 20px;
    transition: 0.3s;
}

.con-profile:hover {
    padding: 10px 22px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}

.con-profile img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.info-profile p {
    font-size: 24px;
    color: #000;
    margin-left: 20px;
}

.topic-1 p {
    margin-top: 1rem;
    text-align: justify;
}

.input-comment {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-comment h1 {
    margin: 0 5rem;
    font-size: 35px;
    color: #000000;
    font-weight: 405;
    transition: 0.5s;
}

.input-comment h1:hover {
    font-size: 40px;
}

.input-comment input {
    margin: 1rem 5rem;
    outline: none;
    padding: 8rem 37vw;
}

.container-profile-page {
    display: flex;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;

}

.con-profile-page img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.con-profile-page img:hover {
    width: 220px;
    height: 220px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}

.info-profile-page p {
    margin-left: 3rem;
    font-size: 24px;
    font-weight: 410;
    color: #252525;
}

.info-profile-page a {
    color: #252525;
}

@media screen and (max-width:500px) {

    * {
        margin: 0;

    }

    nav {
        width: 100%;
        justify-content: space-between;
    }

    nav .logo {
        font-size: 50px;
        width: 100%;
        margin-top: 1rem;
        margin-left: 1.5rem;
    }

    .login {
        width: 100%;
    }

    .login {
        width: 100%;
        margin-top: 10px;
    }

    .container {
        flex-direction: column;
        width: 100%;
    }

    .product {
        width: 100%;
    }

    .product-right {
        width: 100%;
        margin: 0 20px;
    }

    .sidebar {
        width: 100%;
        margin: 40px 20px;
    }

    .home-page img{
        width: 100%;
    }

    .grid-topic span {
        display: none;
    }

    .topic-right-info img {
        width: auto;
    }

    .topic-right {
        width: 100%;
    }

    .con-1 p {
        width: 100%;
    }

    .input-info {
        width: 100%;
        margin-top: 50px;
    }

    .con-create {
        width: 100%;
    }

    .input-img label {
        padding: 2rem 0.5rem;
    }

    .con-btn-create {
        width: 100%;

    }

    .con-btn-create button {
        margin-top: 100px;
        position: relative;
    }


}

@media screen and (max-width:768px) {
    nav {
        width: 100%;
        justify-content: space-between;
    }

    nav .logo {
        font-size: 34px;
        width: 100%;
        margin-top: 1rem;
        margin-left: 1.5rem;
    }

    nav .link {
        display: flex;
        width: 100%;
        margin-top: 3rem;
    }

    nav .link a{
        width: 100%;
    }
    

    .login {
        width: 100%;
    }

    .login {
        width: 100%;
        margin-top: 10px;
    }

    .container {
        flex-direction: column;
        width: 100%;
    }

    .product {
        width: 100%;
    }

    .product-right {
        width: 100%;
        margin: 0 20px;
    }

    .sidebar {
        width: 100%;
        margin: 40px 20px;
    }

    .home-page img{
        width: 100%;
    }

    .grid-topic span {
        display: none;
    }

    .input-img label {
        padding: 2rem 0.5rem;
    }

    .con-btn-create {
        width: 100%;

    }

    .con-btn-create button {
        margin-top: 100px;
        position: relative;
    }


}

@media screen and (max-width:1024px) {
    * {
        margin: 0;

    }

    nav {
        width: 100%;
        justify-content: space-between;
    }

    nav .logo {
        font-size: 34px;
        width: 100%;
        margin-top: 1rem;
        margin-left: 1.5rem;
    }

    nav .link {
        width: 100%;
        margin-top: 3rem;
    }

    .login {
        width: 100%;
    }

    .login {
        width: 100%;
        margin-top: 10px;
    }

    .container {
        flex-direction: column;
        width: 100%;
    }

    .product {
        width: 100%;
    }

    .product-right {
        width: 100%;
        margin: 0 20px;
    }

    .sidebar {
        width: 100%;
        margin: 40px 20px;
    }

    .home-page img{
        width: 100%;
    }

    .grid-topic span {
        display: none;
    }

    .input-img label {
        padding: 5rem 2rem;
    }

    .con-btn-create {
        width: 100%;
        margin-top: 150px;
    }

}

@media screen and (max-width:1320px) {
    * {
        margin: 0;

    }

    nav {
        width: 100%;
        justify-content: space-between;
    }

    nav .logo {
        font-size: 34px;
        width: 100%;
        margin-top: 1rem;
        margin-left: 1.5rem;
    }

    nav .link {
        width: 100%;
    }

    .login {
        width: 100%;
    }

    .login {
        width: 100%;
        margin-top: 10px;
    }

    .container {
        flex-direction: column;
        width: 100%;
    }

    .product {
        width: 100%;
    }

    .product-right {
        width: 100%;
        margin: 0 20px;
    }

    .sidebar {
        width: 100%;
        margin: 40px 20px;
    }

    .home-page img{
        width: 100%;
    }

    .grid-topic span {
        display: none;
    }

    .input-img label {
        padding: 5rem 5rem;
    }

    .con-btn-create {
        width: 100%;
        margin-top: 150px;
    }
}